<form class="box" action="/dashboard/addstation" method="POST">
     <div class="columns">
        <div class="field column">
            <label class="label">Station Name</label>
            <input class="input" placeholder="Station Name" type="text" name="name" required>
        </div>
        <div class="field column">
            <label class="label">Latitude</label>
            <input class="input" placeholder="Latitude" type="float" name="latitude" required>
        </div>
        <div class="field column">
            <label class="label">Longitude</label>
            <input class="input" placeholder="Longitude" type="float" name="longitude" required>
        </div>
    </div>
  <button class="button is-link">Add Station</button>
</form>


