{{#each stations}}
<div class="box box-link-hover-shadow">
  <h2 class="title">
    {{name}}
  </h2>
    <div class="title">
    {{> card}}
  </div>
  <div class="content">
    <a href="/station/{{_id}}" class="button is-light is-medium">
      <i class="fa-regular fa-folder-open"></i>
    </a>
        <a href="/dashboard/deletestation/{{_id}}" class="button is-light is-medium">
      <i class="fa-regular fa-trash-can"></i>
    </a>
  </div>
</div>
{{/each}}