<!DOCTYPE html>
<html lang="en-IE">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{name}}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <script src="https://kit.fontawesome.com/dd084b05a9.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container is-flex-grow-1">
    {{{body}}}
  </div>
<footer class=" footer">
  <div class="content has-text-centered">
    <p>
      <strong>WeatherTop App</strong> - Copyright WeatherTop Inc. 2023 - WebDev 2.
    </p>
  </div>
</footer>
</body>
</html>