{{> menu active="about"}}

<section class="box is-3 has-text-centered">
 <h3 class="title"> WeatherTop 5.0 </h3>
 <div class="section">
  <p> Web App produced for modular weather station WeatherTop 1000. </p>
  <p> The WeatherTop App is a powerful tool that enables you to submit weather
   reports from your station effortlessly. With this app, you can capture
   detailed readings from your station at a specific time, providing accurate
   and up-to-date information about the weather conditions. Stay informed and
   share valuable data with ease using the WeatherTop App. </p>
 </div>
 <h3 class="title"> About WeatherTop 1000 </h3>
 <div class="section">
  <p> Introducing WeatherTop 1000, the ultimate modular weather station designed
    to deliver comprehensive weather data. With its modular design, WeatherTop
    1000 offers versatility and expandability, allowing you to customize the
    station based on your specific needs. Experience precise measurements of
    temperature, wind speed, pressure, and more, ensuring you have accurate
    weather information at your fingertips. Stay ahead of the weather with
    WeatherTop 1000, the go-to choice for professional meteorologists and weather
    enthusiasts alike. </p>
 </div>
 </div>
</section>