{{> welcome-menu}}

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">Welcome to WeatherTop App!</h1>
      <p class="subtitle">Your personal Weather Station App.</p>
    </div>
  </div>
</section>

<section class="section">
  <div class="container has-text-centered">
    <div class="tile is-ancestor">
      <div class="tile is-4">
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">Sign Up</p>
            <p>Create a personal account by clicking on the Sign Up button on the top right of the page.</p>
          </article>
        </div>
      </div>
      <div class="tile is-4">
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">Login</p>
            <p>Once your account is created, log in to enter the stations and the readings.</p>
          </article>
        </div>
      </div>
      <div class="tile is-4">
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">Add Readings in Real Time</p>
            <p>For each station, you can add/delete readings manually
                and genereate automatic readings. </p>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container has-text-centered" style="max-width: 500px; margin: auto;">
    <figure class="image is-square" style="max-width: 100%; height: auto;">
      <img src="../images/index-page.jpg" style="max-width: 100%; height: auto;">
    </figure>
  </div>
</section>
